@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Golos+Text:wght@400;500;600;700&family=Mynerve&family=Poppins:wght@100;200;300;500;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

h2,
h3 {
  margin: 10px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
  font-weight: 300;
}

button {
  min-width: 200px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  border-radius: 6px;
  border-color: #444;
}

button:disabled {
  opacity: 0.9;
  cursor: default;
}

table {
  margin: 40px auto 100px;
}

td,
th {
  padding: 4px 20px;
}

.thin {
  font-weight: 200;
  color: #6B9080;
}

@media (max-width: 1260px) {
  h1 {
    margin: 10px 20px;
    font-size: 1.8em;
  }
  button {
    min-width: 160px;
  }
}

@media (max-width: 780px) {
  h1 {
    margin: 0 20px;
    font-size: 1.5em;
  }
  button {
    min-width: 140px;
  }
}

@media (max-width: 380px) {
  button {
    min-width: 120px;
  }
}